var keys = {
   consumer_key: 'vvgdxMGyw3876nxqaO57lRcys',
   consumer_secret: 'OOzxx5npCaHamVmaLSm8LU6HOhxEhwhl7DdUI1c99AFZbQg1Xp',
   access_token: '233220342-wOJHK5QGppb5vcCHcawsRNTMjdpTlKRctcAREhnG',
   access_token_secret: '66NieNJyBbGv6Fq8Er6Wl22VdKqdq37Vsznvh1HbaYhjV'
};

exports.getKeys = function() {
return keys;
};